services:
  torridb:
    image: postgres
    container_name: torridb
    volumes:
      - '${DB_DATA_PATH}:/var/lib/postgresql'
    environment:
      POSTGRES_USER: torri
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: torridb
    ports:
      - ${DATABASE_PORT}:5432
    restart: unless-stopped

  torri:
    depends_on:
      - torridb
    image: ghcr.io/ncoretorri/torri
    container_name: torri
    environment:
      - Torrent__LinkRoot=${TORRENT_DOWNLOAD_PATH}
      - Database__ConnectionString=Server=torridb;Port=${DATABASE_PORT};Database=torridb;User Id=torri;Password=${DB_PASSWORD};
    volumes:
      - '${TORRENT_APP_DATA_PATH}:/app/data'
      - '${TORRENT_APP_CACHE_PATH}:/app/cache'
      - '${KODI_MOVIES_PATH}:/app/movies'
      - '${KODI_SERIES_PATH}:/app/series'
      - '${TORRENT_DOWNLOAD_PATH}:/app/downloads'
    ports:
      - ${TORRENT_PORT}:51413
      - ${TORRENT_PORT}:51413/udp
      - ${BACKEND_PORT}:5000
    restart: unless-stopped
