name: Deploy Torri backend

on:
  workflow_dispatch:
    inputs:
      version:
        description: eg. 1.0.0
        required: true

      description:
        description: What's new?
        required: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: torri

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Publish Torri
        run: |
          dotnet publish "src/Torri/Torri.csproj" -c Release -o publish /p:UseAppHost=false /p:AssemblyVersion=${{ github.event.inputs.version }} /p:Version=${{ github.event.inputs.version }}

      - name: Zip files
        working-directory: publish
        run: |
          zip -r ../Torri-${{ github.event.inputs.version }}.zip .        

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: | 
            ghcr.io/ncoretorri/torri:latest,ghcr.io/ncoretorri/torri:${{ github.event.inputs.version }}

      - name: Create tag
        uses: actions/github-script@v5
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{ github.event.inputs.version }}',
              sha: context.sha
            })

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.event.inputs.version }}
          tag_name: v${{ github.event.inputs.version }}
          body: ${{ github.event.inputs.description }}
          draft: false
          prerelease: false
          files: |
            Torri-${{ github.event.inputs.version }}.zip
